version: "3.9"
services:
  pdt-dev011:
    build: .
    image: "pdt-dev011:latest"
    # container_name: pdt-dev011
    restart: no
    command: ['tail', '-f', '/dev/null']
    network_mode: "host"
    environment:
      - TZ=America/New_York
      - DEBIAN_FRONTEND=noninteractive
      - LC_ALL=UTF-8
    volumes:
      - ../:/workspace
